#search-wrap {
  display: flex;
  flex-direction: row;
  column-gap: 1%;
  justify-content: start;
  align-items: center;
  height: 2rem;
}

#icon-part {
  width: 3%;
}

#icon-part img {
  width: 100%;
}

#icon-part:active img {
  width: 80%;
}

#icon-part:hover img {
  cursor: pointer;
}

#search-part {
  width: 92.5%;
}

#search-input {
  width: 100%;
}

#search-input {
  border-color: rgb(189, 187, 187);
}

