#sequence-view {
  display: flex;
  flex-direction: row;
  column-gap: 2rem;
  justify-content: center;
}

.sequence-inner {
  border-radius: 5px;
}

.sequence-inner:hover {
  cursor: pointer;
}

@media screen and (max-width: 640px) {
  #sequence-view {
    display: flex;
    flex-direction: column;
    row-gap: 0.5rem;
    justify-content: center;
  }
}
