/* .header-container {
  width: 50%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
} */

.header-container {
  display: flex;
  justify-content: end;
  align-items: center;
}

.header {
  max-width: 1300px;
  margin: 0 auto;
  padding: 10px;
}

.btn__link {
  font-size: large;
  font-family: Georgia, 'Times New Roman', Times, serif;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mane__page {
  margin-right: auto;
}

.login__page,
.registr__page {
  margin-right: 20px;
}

.mane__page {
  font-family: cursive;
  font-size: x-large;
  color: blue;
  letter-spacing: 2px;
  text-decoration: none;
}


.logout__page {
  display: none;
}


.but__link {
  height: 75%;
  letter-spacing: 1px;
  padding: 2px 5px;
  background-color: #3498db;
  color: #fff;
  border-radius: 5px;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.but__link:hover {
  background-color: #294db9;
}

.but__link.mane__page {
  padding: 0;
  background-color: #fff
}

.block {
  width: 77px;
  display: block;
}

.logo-image {
  width: 60px;
  height: auto;
  background-color: #fff;
}

@media screen and (max-width: 761px) {
  a {
    font-size: medium;
  }
}

@media screen and (max-width: 600px) {

  .header-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }


  .login__page,
  .registg__page {
    width: auto;
    margin-bottom: 5px;
    align-self: flex-start;
    margin-top: 10px;
  }

  .but__link.registr__page {
    margin-bottom: 4px;
  }

  .but__link {
    background-color: #fff;
    color: #294db9;
    transition: background-color 0.3s ease, color 0.3s ease;

  }

  .but__link:hover {
    background-color: #fff;
    color: #f81010;
  }

}
