form {
  width: 45%;
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.form-group {
  margin-bottom: 15px;
}

label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

input[type="password"],
input[type="text"] {
  width: 95%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

button[type="button"] {
  padding: 10px 20px;
  background-color: #3498db;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

button[type="button"]:hover {
  background-color: #2980b9;
}


.show-password {
  margin-top: 10px;
  display: flex;
  align-items: center;
}

#show-password-checkbox {
  margin-right: 5px;
}


#password-error {
  display: block;
  margin-bottom: 8px;
}

#show-password-checkbox {
  display: block;
  margin-top: 8px;
}

#current-page {
  max-width: 100%;
  margin: 0 auto;
  padding: 0 10px;
}


@media screen and (max-width: 761px) {
  form {
    width: 80%;
  }
}
