.edit {
  border-radius: 3px;
  width: 30px;
  height: 20px;
  background-color: #3aa7f0;
  cursor: pointer;
}

.edit:hover {
  background-color: #0b2bdf;
  color: white;
}


.form-group {
  margin-bottom: 20px;
}

.form__adress {
  width: 80%;
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);

}

.label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

.error {
  color: red;
  font-size: 12px;
}

input[type="password"],
input[type="text"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button[type="button"] {
  margin-right: 10px;
  padding: 10px 20px;
  background-color: #3498db;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

button[type="button"]:hover {
  background-color: #2980b9;
}

button[type="button"].btn_adress-card,
button[type="button"].btn_adress-cancel,
button[type="button"].btn_adress-delet,
.edit-button {
  margin-right: 10px;
  padding: 5px 5px;
  background-color: #3498db;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.edit-button {
  text-align: center;
  padding: 3px 25px;

  margin: 10px 10px 10px 0px;
}

button[type="button"].btn_adress-card:hover,
button[type="button"].btn_adress-cancel:hover,
button[type="button"].btn_adress-delet:hover,
.edit-button:hover {
  background-color: #2980b9;
}

.checkbox {
  display: block;
  margin-bottom: 8px;
}

#show-password-checkbox {
  display: block;
  margin-top: 8px;
}

.input_container {
  margin: 15px 0;
}

.editable {
  background-color: rgb(240, 240, 134)
}

.update {
  padding: 10px 20px;
  background-color: #3498db;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.update:hover {
  background-color: #2980b9;
}


.adres__container {
  display: flex;
  flex-wrap: wrap;
}

.adresB__container,
.adresS__container {
  border: 2px solid;
  width: 320px;
  padding-left: 10px;
}

.adresS__container {
  margin: 5px
}


.adres__defalt {
  font-family: cursive;
}

.btn_adress-card:last-child {
  margin-left: 40px;
}

.btn__change-infouser,
.btn__change-pass,
.btn__add-address {
  padding: 5px 10px;
  background-color: #3498db;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.btn__change-infouser:hover,
.btn__change-pass:hover,
.btn__add-address:hover {
  background-color: #2980b9;
}

.user__container {
  margin-bottom: 10px;
}
