.link {
  height: 75%;
  letter-spacing: 1px;
  padding: 2px 5px;
  background-color: #3498db;
  color: #fff;
  border-radius: 5px;
  transition: background-color 0.3s ease, color 0.3s ease;
  text-decoration: none;
}

.link:hover {
  background-color: #294db9;
}

.main__page {
  background-image: url('../assets/images/fon_page.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
}

.header__page {
  max-width: 1300px;
  margin: 0 auto;
}

#lap-text,
#sum-text {
  margin-top: 0.5rem;
  color: #efefef;
  font-weight: 400;
  text-align: start;
}

.promo-wrap {
  max-width: 20rem;
  margin-top: 11rem;
  padding: 1rem;
  border: 4px solid orange;
  border-radius: 10px;
  background-color: #6abff8;
  font-weight: 600;
  text-align: center;
}

#inputText-lap,
#inputText-sum {
  padding: 6px 7px;
  font-size: 15px;
  width: 100px;
  text-align: start;
}

.copyText {
  padding: 6px 11px;
  font-size: 15px;
  font-weight: bold;
  background-color: #121212;
  color: #efefef;
  cursor: pointer;
}


