@import './productRow.css';

#cart-list {
  width: 80%;
  margin: 0 10% 0 10%;
}

#empty-wrap {
  display: flex;
  flex-direction: column;
  background-color: orange;
  margin-bottom: 1rem;
  padding-bottom: 0.5rem;
  padding-top: 0.5rem;
  color: azure;
}