.row-wrapper {
  display: flex;
  flex-direction: row;
  column-gap: 1rem;
  justify-content: center;
  align-items: center;
}

.cart-attr {
  display: flex;
  flex-direction: row;
  column-gap: 2rem;
  justify-content: space-around;
  align-items: center;
  width: 70%;
}

#cart-prod-quant {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.delete-cart-prod,
#cart-cleaner,
.lap-promo-but,
.sum-promo-but {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  column-gap: 0.3rem;
  background-color: rgb(88, 200, 245);
  border-radius: 7px;
  border: 2px solid rgb(3, 126, 103);
  width: 7rem;
  margin: auto;
  color: white;
  cursor: pointer;
  border-style: outset;
  transition: 0.5s;
}

.delete-cart-prod:hover,
#cart-cleaner:hover,
.lap-promo-but:hover,
.sum-promo-but:hover {
  background-color: rgb(255, 149, 0);
}

#cart-cleaner {
  font-size: 0.7rem;
}

.cart-image,
.cart-quantity,
.cart-price, 
.cart-delete,
.cart-sum {
  width: 10%;
}

.cart-name {
  display: flex;
  flex-direction: column;
  row-gap: 0.5rem;
  width: 20%;
  font-weight: 900;
}

#lap-promo,
#sum-promo {
  display: flex;
  flex-direction: row;
  height: 1.5rem;
  width: 10rem;
}

.head,
.cart-row {
  display: flex;
  justify-content: center;
  align-items: center;
}

.cart-prod-wrap {
  border-bottom: 3px solid rgb(131, 191, 248);
  margin-bottom: 0.3rem;
  padding-bottom: 0.3rem;
}

#cart-header {
  height: 2rem;
  background-color: black;
  color: azure;
  margin-bottom: 1rem;
}

#cart-total-sum {
  height: 2rem;
  background-color: grey;
  color: azure;
}

.minus-button,
.plus-button,
.count {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 8px;
  margin: 0.2rem;
}

.minus-button,
.plus-button {
    background-color: rgb(255, 149, 0);
}

.minus-button:hover,
.plus-button:hover {
  cursor: pointer;
}

@media screen and (max-width: 880px) {
  #lap-promo {
    width: 7rem;
  }
}

@media screen and (max-width: 720px) {
  .cart-attr {
    flex-direction: column;
    width: 60%;
  }

  .cart-name,
  .cart-quantity,
  .cart-price,
  .cart-sum,
  .cart-delete {
    width: 100%;
    text-align: center;
  }

  .cart-price::before {
    content: 'Price:';
    color: blue;
    font-weight: 900;
  }

  .cart-sum::before {
    content: 'Sum:';
    color: blue;
    font-weight: 900;
  }

  .head {
    display: none;
  }

  #cart-total-sum {
    display: flex;
    flex-direction: column;
    row-gap: 0.2rem;
    justify-content: center;
    align-items: center;
    height: 6rem;
    background-color: grey;
    color: azure;
  }

  #cart-sum {
    text-align: center;
  }

  #cart-sum::before {
    content: '';
  }

}
